

html{
    background-image: url(images/very_exciting_morning_Fantasy_picture.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: space-around;
}

/* Title and Gameplay Area */
.gameplay{
    
    align-items: center;
    justify-content: center;
    display: flex;
    
    flex-flow: column;
}
.welcomeMessage{
    display: flex;
    flex-flow: column;
    color: #3d3c3b;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 12px;
    margin: 12px;
    
}

.buttons {
   
   
}
#reset{
    display: flex;
    margin: 4px;
    align-self: flex-end;
    
}

/*Buttons*/
.rock, .paper, .scissors {
    margin:6px;
    padding: 24px;
    
    font-size: 48px;
    
    background-color: #50afc2;
    color: #3d3c3b;
    border-radius: 36px;
    border: 2px solid #fbf6f2;
}

#myscore{
    margin: 36px;
    border: 10px solid #fbf6f2;
}

.gameInfo{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 3px;
    color: #50afc2;
}

h1{
    color: be8cff;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 8px solid black;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: #fbf6f29c;
    
}

.titleSong{
    display: flex;
    align-self: center;
    color: #3f8798;
    font-weight: 700;
    max-width: 75% ;
    padding: 12px;
    border: 8px solid black;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color:#fbf6f29c;
    font-size: 24px;
}

#herScore, #myScore , #aroundNumber{
    outline:2px solid rgb(0, 0, 0);
    margin: 6px;
    background-color: #3d3c3b9c;
    
    align-items: center;
    justify-content: center;
    font-size: 48px;
    display: flex;
    flex:  1 auto;
}
#myScore{
    border-bottom-left-radius: 32px;
}
#herScore{
    border-top-right-radius: 32px;
}
.scoreZone {
    width: 100%;
    border: 8px solid black;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: #fbf6f29c;

    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    justify-content: space-around;
}


.liveFeed{
    width: 80%;
    display: flex;
    flex-flow: row;
    color: blueviolet;
    font-size: 28px;
    align-items: center;
    justify-content: space-between;
}
.nerd , #aroundNumber{
    border: 4px solid black;
    margin: 4px;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    font-size: 32 px;
    background-color: #3d3c3b9c;
}
#aroundNumber{
    color:#acd1d8;
    padding: 6px;
    font-weight:bold;
}

#playerChoice, #evylenChoice{
    
    border:2px dotted rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    display:flex;
    flex:1 1 auto;
    min-height: 35px;
    min-width: 150px;
    max-width: 150px;
    align-items: center;
    justify-content: center;
}